.game-leave{
    opacity: 1;
}
.game-leave-active{
    transition: all 1s linear;
}
.game-leave-to{
    opacity: 0;
}

.game-enter{
    clip-path: circle(0%);
}
.game-enter-active{
    transition: all 1s linear;
    position: absolute;
    top: 0;
    z-index: 999;
}
.game-enter-to{
    clip-path: circle(75%);
}